* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #f5f5f5;
}
.videoBox {
    width: 100%;
    height: 345px;
    background: #f5f5f5;
}

.videoContent {
    width: 1226px;
    height: 345px;
    margin: 0 auto;
}

.videoBody {
    width: 1226px;
    height: 285px;
    overflow: hidden;
}

.videoBody>li {
    width: 296px;
    height: 285px;
    margin-left: 14px;
    float: left;
    background: white;
}

.videoBody li.videoList {
    margin-left: 0;
}

.videoBody>li div {
    width: 296px;
    height: 180px;
    position: relative;
}

.videoBody>li div img {
    width: 296px;
    height: 180px;
}

.videoBody>li p,h2 {
    text-align: center;
}

.videoBody>li p {
    font-size: 14px;
    color: #333;
    margin: 28px 0 6px;
}

.videoBody>li h2 {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #b0b0b0;
}

.videoBody>li div h6 {
    width: 32px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: white;
    text-align: center;
    line-height: 22px;
}

.videoBody>li div h6 i {
    font-size: 14px;
}

.videoBody>li:hover div h6 {
    background: #ff6700;
}

/*下方足迹*/

.footBox {
    width: 100%;
    background: white;
    height: 272px;
    margin-top: 20px;
}

.footContent {
    width: 1226px;
    height: 272px;
    margin: 0 auto;
}

.footTitle {
    width: 100%;
    height: 80px;
    overflow: hidden;
    text-align: center;
    line-height: 80px;
}

.footList {
    float: left;
    width: 19.9%;
    font-size: 16px;
    color: #333;
}

.footList:hover {
    color: #ff6700;
}
.footLine {
    width: 1px;
    height: 16px;
    background: rgba(0,0,0,0.1);
    float: left;
    margin: 32px 0;
}

.lineHeight {
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
}

.footBody {
    overflow: hidden;
    width: 100%;
    height: 192px;
    padding: 40px 0;
    box-sizing: border-box;
}

.footBody1 {
    float: left;
    overflow: hidden;
}

.footBody1>li {
    width: 160px;
    height: 112px;
    float: left;
}
.footBody1>li>h1 {
    font-size: 14px;
    margin: -1px 0 26px;
    color: #424242;
}

.footBody1>li>div {
    font-size: 12px;
    margin: 10px 0 0;
    color: #757575;
}

.footBody1>li>div:hover {
    color: #ff6700;
}

.footBody2 {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.footBody2>div:nth-child(1) {
    margin: 0 0 5px;
    font-size: 22px;
    color: #ff6700;
}

.footBody2>div:nth-child(2) {
    margin: 0 0 16px;
    font-size: 12px;
}

.footBody2>div:nth-child(3) {
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ff6700;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #ff6700;
}

.footBody2>div:nth-child(3):hover {
    border: none;
    background: #ff6700;
    color: white;
}